body{
  font-family: 'Poppins', sans-serif;
  background-color: #F8F2F0;
}

.navbar {
  background-color: #394E69;

}
.welcome-message {
  color: #006eff;
  font-size: 24px; 
  font-weight: bold;
}

p{
  color:#808080;
}

h2{
  font-weight: bold;
}